<p>@Label</p>
<h3>@AssembleValueString(DataPoint)</h3>

@code {
    [Parameter]
    public DecimalDataPoint? DataPoint { get; set; }
    
    [Parameter]
    public string? Label { get; set; }

    public string AssembleValueString(DecimalDataPoint dataPoint)
    {
        string format = "0." + new String('0', dataPoint.DecimalDigits);

        return $"{dataPoint.CurrentValue.ToString(format)} {dataPoint.Unit}";
    }

}
