<div class="row @CssClass">
    <div class="col-8">@DataPoint.Label :</div>
    <div class="col-4 text-end">@AssembleValueString(DataPoint)</div>
</div>

@code {
    [Parameter]
    public DecimalDataPoint? DataPoint { get; set; }

    [Parameter]
    public string? CssClass { get; set; }

    public string AssembleValueString(DecimalDataPoint dataPoint)
    {
        string format = "0." + new String('0', dataPoint.DecimalDigits);

        return $"{dataPoint.CurrentValue.ToString(format)} {dataPoint.Unit}";
    }

}
