@using SharedContracts.Data
@using Syncfusion.Blazor.Charts
<div class="control-section" align="center">
    <SfChart Title="@Label">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="hh:mm:ss" Title="Time">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>
        <ChartPrimaryYAxis Title="Leistung" Minimum="0" LabelFormat="{value}W">
            <ChartAxisLineStyle Width="0" Color="transparent"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            @if (DataPoints != null)
            {
                foreach (var dataPoint in DataPoints)
                {
                    <ChartSeries Type="ChartSeriesType.Line" Name="Produktion" Width="2" DataSource="@dataPoint.History.DataHistory"
                         XName="@nameof(HistoryDataPoint.Timestamp)" YName="@nameof(HistoryDataPoint.Value)">
                        <ChartSeriesAnimation Enable="false"></ChartSeriesAnimation>
                    </ChartSeries>
                }
            }
        </ChartSeriesCollection>
        <ChartLegendSettings EnableHighlight="true"></ChartLegendSettings>
    </SfChart>
</div>

@code {
    [Parameter]
    public List<DecimalDataPoint>? DataPoints { get; set; }

    [Parameter]
    public string? Label { get; set; }

}
