@page "/counter"
@using Smarthome.Web.Controls
@using Smarthome.Web.Components
@using Smarthome.Web.Controllers
@using Smarthome.Web.Data

@inject DataPoints dataPoints;

<PageTitle>Counter</PageTitle>

<h2>Remote Display</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <CircularGaugeControl DataPoint="@dataPoints.RoomTemperature" Label="Raumtemperatur" Color="#009900"></CircularGaugeControl>
        </div>
    </div>
</div>

@code {

}