@using Syncfusion.Blazor.Buttons
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Smarthome.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@*https://icon-sets.iconify.design/*@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <iconify-icon width="30" icon="game-icons:solar-power"></iconify-icon>PV
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="charge">
                <iconify-icon width="30" icon="material-symbols:ev-charger-sharp"></iconify-icon>Laden
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="remotedisplay">
                <iconify-icon width="30" icon="carbon:temperature-feels-like"></iconify-icon>Esszimmer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EnergyM3">
                <iconify-icon width="30" icon="icon-park-solid:energy-socket"></iconify-icon>Energie M3
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
